################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PdfMonitor/bin/Debug
/PdfMonitor/obj/Debug
/PdfMonitor/bin/Release
/PdfMonitor/obj/Release
/PdfMonitor Setup/PdfMonitor Setup/Express/SingleImage/DiskImages/DISK1
/PdfMonitor Setup/PdfMonitor Setup/Express/SingleImage/Reports
/PdfMonitor Setup/PdfMonitor Setup/Express/SingleImage/LogFiles
