################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PdfMonitor/bin/Debug
/PdfMonitor/obj/Debug
